@media (max-width: 991px), screen and (orientation: portrait) {

     .checkout-bonusDeals-reciept h3 {
         gap: 10px;
         -webkit-gap: 10px;
         -moz-gap: 10px;
    }
     .new-mob-top .checkout-page-cart-product-title.txt-2 {
         border-bottom: 1px solid #E7E7E7;
    }
     .checkout-bonusDeals-reciept h3 span.line-with-arrow {
         width: 2rem;
    }
     .main-middle-sec .left .green-stripe h4 {
         text-align: center;
    }
     .main-middle-sec .left .paypal-gpay-buttons {
         margin-right: 1rem;
         /* -webkit-gap: 1rem;
         -moz-gap: 1rem; */
         flex-direction: row-reverse;
    }
     .main-middle-sec .left .radio-section .form-check .form-check-label {
         align-items: flex-start;
    }
     .main-middle-sec .left .radio-section .right .recommended-deal {
         display: none;
    }
     .main-middle-sec .left .radio-section .left .recommended-deal {
         display: block;
    }
     .main-middle-sec .left .radio-section .left .save-off-text {
         font-size: 14px;
         line-height: 18px;
    }
     .main-middle-sec .left .payment-section p {
         font-size: 15px;
         font-weight: 600;
    }
     .main-middle-sec .left .payment-section .right span {
         display: none;
    }
     .main-middle-sec .left .payment-section .expiration-security {
         flex-direction: column;
         gap: 0;
         -webkit-gap: 0px;
         -moz-gap: 0px;
    }
     .checkout-form .expiration-security .input_wrap {
         width: 100%;
    }
     .ssl-safe-section .inner-section h5 {
         font-size: 8px;
         line-height: 12px;
    }
     .bundle-of-cards img {
         max-width: 75%;
    }
     .main-middle-sec .right .right-bottom {
         gap: 8px;
         -webkit-gap:8px;
         -moz-gap: 8px;
    }
     .main-middle-sec {
         padding-bottom: 40px;
    }
     footer {
         padding: 30px 0;
    }
     .main-middle-sec .right .right-top {
         display: none;
    }
     .main-middle-sec .left .right-top {
         display: block;
    }
     .has-tooltip1::before {
         top: 55px;
         left: -110px;
    }
     .has-tooltip1:after {
         top: 17px;
         left: 0;
         transform: rotate(270deg) !important;
    }
     .has-tooltip2::before {
         top: 75px;
         left: -110px;
    }
     .has-tooltip2:after {
         top: 14px;
         left: 0;
         transform: rotate(270deg) !important;
    }
     .country-wrap:after {
         right: 6%;
    }
     .main-middle-sec .left .radio-section {
         padding: 24px 17px 16px 12px;
    }

     .main-middle-sec .left .Choose-your-package-section li:nth-child(2) .radio-section {
         padding: 24px 17px 16px 12px;
    }
    .main-middle-sec .left .Choose-your-package-section li:nth-child(3) .radio-section {
                padding: 24px 17px 16px 12px;
    }
     .main-middle-sec .left .Choose-your-package-section li:nth-child(1) .radio-section {
         padding: 16px 17px 14px 12px;
    }
     .desktop-active-arrow, .desktop-inactive-arrow {
         display: none;
    }
     .mobile-active-arrow, .mobile-inactive-arrow {
         display: block;
    }
     .main-middle-sec .left {
         padding-right: 0;
    }
     .main-middle-sec .right {
         padding-left: 0;
    }
     .pay-1{
         margin-top: 0px;
    }
     .main-middle-sec .left .right-top {
         display: block;
    }
    /* .main-middle-sec .left .right-top.new-mob-top {
         border: 1px solid #FF0003;
    }
     */
     .main-middle-sec .new-mob-top {
         background-color: #fff;
         padding: 16px 18px 0 18px;
    }
    .main-middle-sec .left .express-checkout{
        margin-top: 16px;
            margin-bottom: 12px;
    }
    .main-middle-sec .left .Choose-your-package-section li {
    margin-bottom: 12px;
    }
    .checkout-form .input_wrap {
    margin-bottom: 12px;
}
     .new-mob-top {
         text-align: center;
    }
     .new-mob-top .checkout-page-cart-product-section {
         text-align: center;
    }
     .new-mob-top .star-happyCustomer {
         justify-content: center !important;
    }
     .main-middle-sec .right .right-top {
         display: none;
    }
     .right-t-top {
         border: 1px solid #D6D6D6;
         padding: 12px 16px;
         margin-top: 17px;
    }
     .right-t-top .right-top {
         background-color: #fff;
         padding: 0;
    }
     .right-t-top .checkout-page-cart-price-section {
         margin-top: 0px;
    }
     .main-middle-sec .right .right-bottom .right-bottom-image {
         text-align: right;
    }
    .checkout-form .form-control{
        height: 48.1px;
    }
    .checkout-form .first-last-name{
        display: block;
    }
  .checkout-form .first-last-name .input_wrap {
    width: 100%;
}
.checkout-bonusDeals-reciept{
    padding-top: 14px;
    padding-bottom: 14px;
}
.dwn-arw {
    display: block;
        width: 16px;
        top: 20px;
        right: 5px;
    pointer-events: none;
    position: absolute;
}
img.desk2 {
    margin-bottom: 16px;
    }
.hide-desk{
display: block;
}
.hide-mob{
display: none;
}

}
@media (max-width: 991px), screen and (orientation: landscape) {
 #paypal-gpay-buttons{
    display: flex;
    justify-content: space-between;
    }
    .paypal-gpay-buttons #container {
    width: 48%;
    margin-left: 0;
    }
.main-middle-sec .left .paypal-gpay-buttons a {
    width: 48%;
}
.main-middle-sec .left .paypal-gpay-buttons {
    margin-right: 0rem;
}
  .checkout-form .form-control{
        height: 48.1px;
    }
}
 @media only screen and (max-width: 767px) {
     header .right .header-right-first-text {
         display: none;
    }
 .gpay-card-info-container {min-width: auto !important;}
    .top-logo {
        width: 120%;
    }
    
}
 @media only screen and (max-width: 769px) {

         .paypal-gpay-buttons #container {
     margin-right: 1.25rem;
      margin-left: 0rem;
}
}
 @media only screen and (max-width: 575px) {
     .floating-cart.active {
         display: block;
         position: sticky;
         top: -1px;
         left: 0;
         right: 0;
         z-index: 9;
    }
     header .right {
         gap: 0.438rem;
         -webkit-gap: 0.438rem;
         -moz-gap: 0.438rem;
    }

}
 
 