
    body {
        margin: 0 0 0 0;
        font-family: Arial, sans-serif;
        background: #fff;
    }

    a:link,
    a:visited {
        text-decoration: inherit;
        color: inherit;
    }

    a.textLink:link,
    a.textLink:visited {
        text-decoration: inherit;
        color: #00F;
    }

    a.textLink:hover {
        text-decoration: underline;
    }

    .clear {
        clear: both;
    }

    #header1 {
        width: 100%;
        height: auto;
        margin: 0 auto;
        background-color: #01335e;
        padding-top: 10px;
        padding-bottom: 5px;
        border-bottom: 5px solid #eee;
    }

    #inner1 {
        width: 200px;
        height: auto;
        margin: 0 auto;
    }

    #text1 {
        width: 100%;
        height: auto;
        margin: 0 auto;
        text-align: center;
        color: #2e2e2e;
        font-size: 32px;
        font-weight: bold;
        margin-top: 10px;
    }

    #text2 {
        width: 720px;
        height: auto;
        margin: 0 auto;
        text-align: center;
        color: #868585;
        font-size: 16px;
        font-weight: normal;
        margin-top: 10px;
        position: relative;
    }

    #text3 {
        width: 100%;
        height: auto;
        margin: 0 auto;
        text-align: center;
        color: #2e2e2e;
        font-size: 16px;
        font-weight: bold;
        margin-top: 10px;
    }

    #mainBox {
        width: 680px;
        height: auto;
        margin: 0 auto;
        margin-top: 10px;
        background: #fff;
        border-radius: 5px;
        padding: 5px;
    }

    #title1 {
        width: 100%;
        height: auto;
        margin: 0 auto;
        border-radius: 4px;
        background: #e8e8e8;
        padding: 10px 0px;
    }

    #logo1 {
        width: 18px;
        height: auto;
        float: left;
        margin-left: 25px;
    }

    #line1 {
        width: auto;
        height: auto;
        float: left;
        margin-left: 10px;
        font-weight: bold;
        color: #515151;
        font-size: 18px;
    }

    .pullLeft {
        float: left;
        text-align: left;
    }

    .pullRight {
        float: right;
        text-align: right;
    }

    #totalText1 {
            width: calc(100% - 60px);
        height: auto;
        margin: 0 auto;
        color: #2e2e2e;
        font-size: 14px;
        margin-top: 10px;
        padding-bottom: 7px;
        border-bottom: 1px solid #ccc;
        font-weight: 700;
    }

    #totalText2a {
            width: calc(100% - 60px);
        height: auto;
        margin: 0 auto;
        color: #2e2e2e;
        font-size: 14px;
        margin-top: 15px;
        border-top: 1px solid #aaa;
        padding-top: 15px;
    }

    #totalText2b {
            width: calc(100% - 60px);
        height: auto;
        margin: 0 auto;
        color: #2e2e2e;
        font-size: 14px;
        margin-top: 5px;
    }

    #totalText2c {
            width: calc(100% - 60px);
        height: auto;
        margin: 0 auto;
        color: #2e2e2e;
        font-size: 14px;
        margin-top: 5px;
    }

    #totalText2 {
            width: calc(100% - 60px);
        height: auto;
        margin: 0 auto;
        color: #2e2e2e;
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #title2 {
        width: 100%;
        height: auto;
        margin: 0 auto;
        border-radius: 4px;
        background: #e8e8e8;
        padding: 10px 0px;
        margin-top: 0;
    }

    #logo2 {
        width: 18px;
        height: auto;
        float: left;
        margin-left: 25px;
    }

    #line2 {
        width: auto;
        height: auto;
        float: left;
        margin-left: 10px;
        font-weight: bold;
        color: #515151;
        font-size: 18px;
    }

    #emailBlock {
        width: 90%;
        height: auto;
        margin: 0 auto;
        margin-top: 25px;display: flex;
    justify-content: center;
    align-items: center;
    }

    #mailIcon {
        width: 60px;
        height: auto;
        float: left;
        padding-top:15px;
    }

    #mailText {
        width: calc(100% - 60px);
        height: auto;
        float: left;
        margin-left: 25px;
        margin-top: 7px;
    }

    #mail1 {
        width: 100%;
        height: auto;
        margin: 0 auto;
        color: #2e2e2e;
        font-weight: 700;
        font-size: 17px;
        padding-top: 7px;
    }

    #mail2 {
        width: 100%;
        height: auto;
        margin: 0 auto;
        color: #2e2e2e;
        font-weight: 400;
        font-size: 14px;
        margin-top: 10px;
    }

    #footerText {
        width: 100%;
        height: auto;
        margin: 0 auto;
        margin-top: 40px;
        text-align: center;
        color: #888;
        font-size: 15px;
        padding-bottom: 50px;
    }

    #tableStyles {
        width: calc(100% - 60px);
        height: auto;
        margin: 0 auto;
        margin-top: 10px;
    }

    .thank_bottom #wait p {
        margin-bottom: 0;
        font-size: 16px;
        margin: 6px auto;
    }

    .thank_bottom #wait {
        margin: 15px auto;
    }

    #wait h3 {
        margin: 0 auto;
    }

    .top_right {
        position: relative;
    }

    .side_arrow_up {
        top: -10px;
        transform: rotate(0deg);
        transition: all 0.5s ease 0s;
        width: 150px;
        right: -140px;
        height: 450px;
        position: absolute;
    }

    .side_arrow_up img {
        height: 450px;
    }

    div#side_arrow.side_arrow {
        position: absolute;
        right: -90px;
        top: 365px;
        transform: rotate(20deg);
        transition: all 0.5s ease 0s;
        width: 150px;
    }

    form {
        padding: 0;
    }

    .thank_bottom #wait {
        margin-top: 0;
        padding-top: 10px;
    }

    .thank_bottom #up-btn {
        text-align: center;
        font-size: 18px;
    }
    .kthanksItemsTable tr td
    {
        padding: 0 5px;
    }
    .kthanksItemsTable tr td:nth-child(1) {
        width: 100%;
    }
    .kthanksItemsTable tr td:nth-child(2) {
        text-align: right;
    }

        #giftBlock {
    width: 90%;
    height: auto;
    margin: 0 auto;
    margin-top: 5px;
}
#giftIcon {
    width: 220px;
    height: auto;
    float: left;
    margin-bottom: 10px;
    margin: auto;
}
#giftText {
    width: calc(100% - 250px);
    height: auto;
    float: left;
    margin-left: 25px;
    margin-bottom: 10px;
    margin: auto;
}
#gift2 {
    width: 100%;
    height: auto;
    margin: 0 auto;
    color: #2e2e2e;
    font-weight: 400;
    font-size: 18px;
    padding: 25px;
}

    @media  screen and (max-width: 900px) {
        #giftBlock {
    width: 95%;
}
#giftIcon {
    width: 44%;
    height: auto;
    float: inherit;
    margin: auto;
}
#giftText {
    width: calc(100% - 0px);
    margin-left: 0px;
}
#gift2 {
    font-size: 16px;
    padding: 5px 0px 25px 0px;
}
        div#side_arrow {
            display: none;
        }
        #giftIcon{width: 44% !important;}

        .thank_bottom #upsell-btn {
            max-width: 100%;
            background-size: 100%;
        }

        .thank_bottom #up-btn {
            width: 100%;
            box-sizing: border-box;
        }

        body {
            overflow-x: hidden;
        }

        #text2 {
            width: 95%;
        }

        #mainBox {
            width: 97%;
            margin-top: 0px;
            padding: 30px 0px;
        }

        #title1 {
            width: 95%;
        }

        #line1 {
            font-size: 15px;
        }

        #totalText1 {
            font-size: 13px;
        }

        #totalText2 {
            font-size: 13px;
        }

        #title2 {
            width: 95%;
        }

        #line2 {
            font-size: 15px;
        }

        #emailBlock {
            width: 95%;
        }

        #mailIcon {
            width: 40px;
            height: auto;
            float: left;
        }

        #mailText {
            width: calc(100% - 85px);
            margin-left: 15px;
        }

        #mail1 {
            font-size: 15px;
            padding-top: 0px;
        }

        #mail2 {
            font-size: 12px;
        }

        #tableStyles {
           width: calc(100% - 60px);
        }
    }

    @media  screen and (max-width: 580px) {
        #line2 {
            font-size: 11px;
            padding-top: 4px;
        }
        #mainBox{padding-bottom: 0;}
        #footerText{margin-top: 0;}
    }

    @media  screen and (max-width: 380px) {
        .thank_bottom #upsell-btn {
            height: 180px;
        }

        .thank_bottom #up-btn {
            font-size: 14px;
        }

        #text1 {
            font-size: 22px;
        }

        #line2 {
            font-size: 10px;
        }

        #mail1 {
            font-size: 13px;
        }
    }

    #text2 {
        border-bottom: 1px solid #ccc;
        padding-bottom: 20px;
    }

    .oto {
        width: 100%;
        text-align: center;
    }

    .oto img {
        max-width: 60%;
    }
    #ship2 {
        padding: 15px 30px
    }
